/* Home Page: Portfolio */
.my-work-home {
  .navbar {
    background-color: transparent;
    position: absolute;
    width: 100%;
    z-index: 2;
  }
  .splash {
    padding-top: 4rem;
    padding-bottom: 2rem;
  }
}